<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	{% set page_title_block_output %}{% block page_title %}{% endblock %}{% endset %}

	<title>{{ app.session.get('config').appName }} - {{ page_title_block_output|striptags|raw }}</title>
</head>
{% block body %}
	<body class="{% block body_class %}{% endblock %}">
		{% block main %}{% endblock main %}
	</body>
{% endblock body %}
</html>