{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if field.customOptions.get('showSample') %}
    <span class="badge text-light" style="background: {{ field.value }};">
        {% if field.customOptions.get('showValue') %}
            {{ field.formattedValue }}
        {% else %}
            &nbsp;
        {% endif %}
    </span>
{% elseif field.customOptions.get('showValue') %}
    {{ field.formattedValue }}
{% endif %}
