{% if field.customOptions.get('showSample') %}
	<span class="badge text-white" style="background: {{ field.value }};">
		{% if field.customOptions.get('showValue') %}
			{{ field.formattedValue }}
		{% else %}
            &nbsp;
		{% endif %}
	</span>
{% elseif field.customOptions.get('showValue') %}
    {{ field.formattedValue }}
{% endif %}
