<span class="avatar {{ ea.crud.currentAction == 'detail' ? 'avatar-xl' : '' }}" style="background-image: url('{{ asset(field.formattedValue) }}')" title="{{ field.formattedValue }}">
	<a href="{{ asset(field.formattedValue) }}" class="stretched-link" data-action="zoom" style="cursor: zoom-in;"></a>
</span>
