/* Tabler */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');

:root,
[data-bs-theme="light"] {
    --tblr-font-sans-serif: "Jost";
}

/* Tables fixes */
.markdown>table thead th,
.table thead th {
    font-size: .625rem;
}

@media (max-width: 767.98px) {
    .table-mobile-md td {
        width: auto !important;
        text-align: start !important;
    }
}

/* Multilevel dropdown fixes */
.dropdown-menu .dropdown .dropdown-toggle::after {
    margin-left: auto;
}

/* Mark.js fixes */
[data-markjs="true"] {
    padding: 0;
}

/* Icon fixes */
span.icon {
    display: inline-block;
    inline-size: 1.25em;
    text-align: center;
}

span.icon svg {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 1em;
    max-inline-size: 1em;
    vertical-align: text-top;
}