<div id="modal-filters" class="modal modal-blur fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-status bg-primary"></div>
            <div class="modal-header">
                <h5 class="modal-title">
                    <twig:ea:Icon name="filter" /> {{ 'filter.title'|trans(domain: 'EasyAdminBundle') }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'action.close'|trans({}, 'EasyAdminBundle') }}"></button>
            </div>
            <div class="modal-body">
                {# The filters form will be loaded via AJAX for better performance #}
                {# See @EasyAdmin/default/filters.html.twig template #}
            </div>
            <div class="modal-footer">
                <twig:ea:Button type="button" icon="x" data-bs-dismiss="modal" id="modal-clear-button" formtarget="_self">
                    {{ 'filter.button.clear'|trans(domain: 'EasyAdminBundle') }}
                </twig:ea:Button>
                <twig:ea:Button type="button" variant="primary" data-bs-dismiss="modal" id="modal-apply-button" formtarget="_self" icon="check">
                    {{ 'filter.button.apply'|trans(domain: 'EasyAdminBundle') }}
                </twig:ea:Button>
            </div>
        </div>
    </div>
</div>
