{% extends "public/layout/base.html.twig" %}

{% block content_title %}
	{{ 'public.cookies.title'|trans }}
{% endblock %}

{% block main %}
	<div class="card card-md">
		<div class="card-body">
			{{ app.session.get('config').cookiesText|raw }}
		</div>
	</div>
{% endblock %}
