{% extends "public/layout/base.html.twig" %}

{% block page_title %}
    {{ 'public.privacy.title'|trans }}
{% endblock %}

{% block main %}
    <div class="card card-md">
        <div class="card-body">
            {{ appConfig.privacyText|raw }}
        </div>
    </div>
{% endblock %}
